@using Portfolio.Models
@model Users
@{
    ViewData["Title"] = "Home Page";
}
<div class="admin-access">
    @if (TempData.Peek("IsLoggedIn") != null)
    {
        <a class="admin-logo" asp-controller="Admin" asp-action="Intro_site"><i class="bi bi-person-circle"></i> @TempData.Peek("UserEmailId")</a> <br>
        <a class="user_Signout" asp-controller="Home" asp-action="Logout"><i class="bi bi-box-arrow-left"></i> Sign-Out</a>
    }
    else
    {
        <a class="register_email" id="Register_BTN" href="#"><i class="bi bi-box-arrow-in-right"></i> Sign-In</a>
    }
</div>
<div class="main_div">

    <div id="myModal" class="modal">
        <div class="modal-content" >
            <span class="close">&times;</span>
            <h2><b style="color:red;">Login</b> E-mail Address</h2>
            @using (Html.BeginForm("Index", "Home", FormMethod.Post))
            {

                <input type="email" name="email" asp-for="@Model.Email" placeholder="Email address Or Mobile Number" required /> <br>
                <input type="password" name="password" asp-for="@Model.Password" placeholder="Password" required /> <br>
                <div class="email_button_access"><div style="text-align:left;"><a href="#" id="create-email" >Register your email ?</a> <br> <a href="#">forgot password</a></div>
                    <button type="submit" asp-controller="Home" asp-action="Login"> Sign In Now </button>
                </div>
                
            }
        </div>
        
    </div>
    <div id="Register_page" class="email-main-div">
    <div class="register-email-page">
        <span id="register_page_close"class="close">&times;</span>
        <h2><b style="color:red;">Register</b> E-mail Address</h2>
        @using (Html.BeginForm("Index", "Home", FormMethod.Post))
        {
                <input type="email" name="email" asp-for="@Model.Email" placeholder="Email address Or Mobile Number" required /> <br>
                <input type="password" name="password" asp-for="@Model.Password" placeholder="Password" required /> <br>
                <input type="password" name="Confirm_password" asp-for="@Model.Password" placeholder="Confirm Password" required /> <br>

                <button type="submit" asp-controller="Home" asp-action="Email_register"> Register Now </button>
        }
    </div>
    </div>
    
   
    <div class="search_div">
    <form class="search_box">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit" >Search</button>
    </form>
    </div>
    <h1 class="heading"> Welcome To my Site...!</h1>
    <div class="container_div">
        <div class="col-left">
           Welcome to My Portfolio showcases a range of projects, each demonstrating my commitment to excellence and creativity. Whether it's designing captivating user interfaces, developing robust software solutions, or crafting compelling marketing campaigns, I thrive on turning ideas into reality. I believe in the power of interdisciplinary collaboration, bringing together experts from different fields to tackle complex challenges.
        </div>
        <div class="col-right">
            <label title="click here to Download">Everyone can download my Resume.</label><br>
            <a href="~/Resume/Vignesh_Resume.pdf" download="Vignesh_Resume.pdf">
                <input type="button" class="CV-button" title="Click here to download" value="Download CV">
            </a>
        </div>
    </div>
    <div class="Career" >
       <div class="career_Logo"><i class="fa-solid fa-gear fa-spin" id="career_Logo_rotate"></i><i class="fa-solid fa-gear " id="B_gear"></i></div>
       <div class="career_details">
            <p>
                Choosing a career involves assessing your interests, strengths, and values to find a path that aligns with your goals and provides long-term satisfaction.
                Gaining relevant education and training is crucial in preparing for a career, as it equips you with the necessary knowledge and skills to excel in your chosen field.
                Networking with professionals, seeking mentorship, and building a strong professional presence can significantly enhance your career opportunities and advancement.
                Adaptability and continuous learning are key to career success, as industries evolve and new technologies and methodologies emerge.
            </p>                
            
       </div>
    </div>
    <div class="LapCare">
        <p class="LapCare_details">
            At LaptopCare Solutions, we specialize in both hardware and software installation and repair services, ensuring comprehensive support for all your laptop needs. Our experienced technicians are adept at handling various hardware upgrades, replacements, and installations with precision and efficiency. Additionally, we offer expert troubleshooting and repair services for software issues, ensuring your laptop runs smoothly and securely. We prioritize customer satisfaction by providing transparent communication, reliable turnaround times, and competitive pricing. Count on LaptopCare Solutions to deliver reliable solutions that optimize your laptop's performance and longevity.
        </p>
        <div class="lapCare_Logo"><i class="fa-solid fa-screwdriver-wrench" id="career_Logo_rotate"></i></div>
       
    </div>
    <div class="Chip">
        <div class="Chip_Logo"><div><i class="bi bi-cpu" id="career_Logo_rotate"></i></div></div>
        <p class="Chip_details">
            Programming the BIOS in a laptop involves flashing the firmware, which is the low-level software that initializes and tests hardware components during boot-up. Hardware tracing during BIOS programming helps diagnose issues by monitoring signals and data flows within the motherboard. Replacing BIOS chips might be necessary if the firmware is corrupted and cannot be reprogrammed through standard methods. It requires precision soldering and a compatible replacement chip to ensure the laptop's functionality. Proper handling and static precautions are essential during hardware replacement to avoid damaging sensitive electronic components.
        </p>
    </div>
</div>

<script>
    //--------- this code was  login email---------------------->
    var modal = document.getElementById("myModal");
    var btn = document.getElementById("Register_BTN");
    var span = document.getElementsByClassName("close")[0];

    btn.onclick = function () {
        modal.style.display = "block";
        document.body.classList.add('modal-open');
    }
    span.onclick = function () {
        modal.style.display = "none";
        document.body.classList.remove('modal-open');
    }
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
            document.body.classList.remove('modal-open');
        }
    }

    // ---------------- this code was register email---------------------->

    var create_email = document.getElementById("create-email");
    var register_page = document.getElementById("Register_page"); 
    var modal = document.getElementById("myModal");
    var register_page_close = document.getElementById("register_page_close");
   
    create_email.onclick = function () {
        modal.style.display = "none";
        document.body.classList.remove('modal-open');
        register_page.style.display = "revert";
    }
    register_page_close.onclick = function () {
        modal.style.display = "revert";
        document.body.classList.add('modal-open');  
        register_page.style.display = "none";
    }



    //--------------this code is index page animation-------------->
    document.addEventListener("scroll", function () {
        const elements = document.querySelectorAll(".LapCare");
        const chip = document.querySelectorAll(".Chip");
        const windowHeight = window.innerHeight;

      
        elements.forEach(element => {
            const position = element.getBoundingClientRect().top;
            if (position < windowHeight - 0) {  
                element.classList.add("animate-on-scroll");
            } 
        });
        chip.forEach(element => {
            const position = element.getBoundingClientRect().top;
            if (position < windowHeight - 0) {
                element.classList.add("Chip_Animate");
            }
        });
    });

</script>
 